<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vipjoy.joy.dao.mapper.DraftOrderMapper">

  <resultMap id="BaseResultMap" type="com.vipjoy.dao.domain.DraftOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="sales" jdbcType="VARCHAR" property="sales" />
    <result column="evaluation_number" jdbcType="VARCHAR" property="evaluationNumber" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="deadline" jdbcType="VARCHAR" property="deadline" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="discount_price" jdbcType="VARCHAR" property="discountPrice" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="store_description" jdbcType="VARCHAR" property="storeDescription" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
</mapper>